<div class="hentry activity">
  <h3 class="entry-title">
    <span class="vcard">
      <span class="author activity-noun">
        <span class="fn">sophiekg</span>
        <span class="nickname">
          <a href="http://flickr.com/people/sophiekg/">sophiekg</a>
        </span>
      </span>
    </span><!-- .vcard -->

    <a href="http://www.flickr.com/photos/sophiekg/4007632849/" rel="bookmark">
      <span class="activity-verb">posted</span>
      a
      <span class="activity-object">photo</span>
    </a>
      to
    <a href="http://flickr.com" rel="bookmark">
      <span class="activity-indirect-object">Flickr</span>
    </a>
  </h3><!-- .entry-title -->
  <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">15 minutes ago</abbr>

  <div class="entry-content">
    <img src="/images/photos/flickr/sophiekg.jpg" />
  </div> <!-- .entry-content -->
</div> <!-- .hentry.activity -->
