<article class="hentry activity vcard column span-24">
  <div class="span-3 meta">
    <img class="photo" src="/images/avatars/flickr/bikeswarm.jpg" alt="Bike Swarm's profile picture from flickr.com" />
    <a class="nickname"href="http://flickr.com/people/bikeswarm/">bikeswarm</a>
    </div>
    <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">12 minutes ago</abbr>
  </div><!-- .photo -->

  <div class="span-21 last">
    <h3 class="entry-title">
      <span class="author activity-noun">
        <span class="fn">Bike Swarm!</span>
      </span>

      <a href="http://www.flickr.com/photos/bikeswarm/4090660387/" rel="bookmark">
        <span class="activity-verb">posted</span>
        a
        <span class="activity-object">photo</span>
        <span class="activity-object-title">IMG_1765</span>
      </a>
      to
      <a href="http://flickr.com" rel="bookmark">
        <span class="activity-indirect-object">Flickr</span>
      </a>
    </h3><!-- .entry-title -->

    <div class="entry-content">
      <img class="photo" src="/images/photos/flickr/bikeswarm.jpg" />
    </div><!-- .entry-content -->
  </div><!-- . -->

</article><!-- .hentry.activity -->
