<article class="hentry activity vcard column span-24">
  <div class="span-3 photo">
    <img src="/images/avatars/flickr/impetusmac.jpg" alt="impetusmac's profile picture from flickr.com" />
    <div class="nickname">
      <a href="http://flickr.com/people/impetusmac/">impetusmac</a>
    </div>
    <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">1 hour ago</abbr>
  </div><!-- .photo -->

  <div class="span-21 last">
    <h3 class="entry-title">
      <span class="author activity-noun">
        <span class="fn">impetusmac</span>
      </span>

      <a href="http://www.flickr.com/photos/impetusmac/4151196402/" rel="bookmark">
        <span class="activity-verb">posted</span>
        a
        <span class="activity-object">photo</span>
        <span class="activity-object-title">Randy Up</span>
      </a>
      to
      <a href="http://flickr.com" rel="bookmark">
        <span class="activity-indirect-object">Flickr</span>
      </a>
    </h3><!-- .entry-title -->

    <div class="entry-content">
      <img src="/images/photos/flickr/impetusmac.jpg" />
    </div><!-- .entry-content -->
  </div><!-- . -->

</article><!-- .hentry.activity -->
