<article class="hentry activity vcard column span-24">
  <div class="span-3 meta">
    <img class="photo" src="/images/avatars/twitter/topfunky.png" alt="Geoffrey Grosenbach's profile picture from twitter.com" />
    <a class="nickname" href="http://twitter.com/topfunky">topfunky</a>
    <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">30 minutes ago</abbr>
  </div><!-- .meta -->

  <div class="span-21 last">
    <h3 class="entry-title">
      <span class="author activity-noun">
        <span class="fn">Geoffrey Grosenbach</span>
      </span>

      <a href="https://twitter.com/topfunky/statuses/6285415340" rel="bookmark">
        <span class="activity-verb">posted</span>
        a
        <span class="activity-object">note</span>
      </a>
      to
      <a href="http://twitter.com" rel="bookmark">
        <span class="activity-indirect-object">Twitter</span>
      </a>
    </h3><!-- .entry-title -->

    <div class="entry-content">
      First an evented Javascript server, and now a particle system! Impending world domination inevitable. via <a href="http://twitter.com/lachlanhardy">@lachlanhardy</a> <a href="http://bit.ly/5x9r6b">http://bit.ly/5x9r6b</a>
    </div><!-- .entry-content -->
  </div><!-- . -->

</article><!-- .hentry.activity -->
