<div class="hentry activity">
  <h3 class="entry-title">
    <span class="vcard">
      <span class="author activity-noun">
        <span class="fn">Jeffrey Zeldman</span>
        <span class="nickname">
          <a href="http://twitter.com/zeldman">zeldman</a>
        </span>
      </span>
    </span><!-- .vcard -->

    <a href="http://twitter.com/zeldman/status/6285935005" rel="bookmark">
      <span class="activity-verb">posted</span>
      a
      <span class="activity-object">note</span>
    </a>
      to
    <a href="http://twitter.com" rel="bookmark">
      <span class="activity-indirect-object">Twitter</span>
    </a>
  </h3><!-- .entry-title -->
  <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">12 minutes ago</abbr>

  <div class="entry-content">
    Ford To City: Drop Dead. Daily News, 1975. <a href="http://j.mp/7Sbgns" title="File:Ford to City.PNG - Wikipedia, the free encyclopedia">http://j.mp/7Sbgns</a>
  </div> <!-- .entry-content -->
</div> <!-- .hentry.activity -->
