<article class="hentry activity vcard column span-24">
  <div class="span-3 meta">
    <img class="photo" src="/images/avatars/twitter/zeldman.png" alt="Jeffrey Zeldman's profile picture from twitter.com" />
    <a href="http://twitter.com/zeldman">zeldman</a>
    <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">12 minutes ago</abbr>
  </div><!-- .photo -->

  <div class="span-21 last">
    <h3 class="entry-title">
      <span class="author activity-noun">
        <span class="fn">Jeffrey Zeldman</span>
      </span>

      <a href="http://twitter.com/zeldman/status/6285935005" rel="bookmark">
        <span class="activity-verb">posted</span>
        a
        <span class="activity-object">note</span>
      </a>
      to
      <a href="http://twitter.com" rel="bookmark">
        <span class="activity-indirect-object">Twitter</span>
      </a>
    </h3><!-- .entry-title -->

    <div class="entry-content">
      Ford To City: Drop Dead. Daily News, 1975. <a href="http://j.mp/7Sbgns" title="File:Ford to City.PNG - Wikipedia, the free encyclopedia">http://j.mp/7Sbgns</a>
    </div><!-- .entry-content -->
  </div><!-- . -->

</article><!-- .hentry.activity -->
