<div class="hentry activity">
  <h3 class="entry-title">
    <span class="vcard">
      <span class="author activity-noun">
        <span class="fn">Casey Donahue</span>
        <span class="nickname">
          <a href="http://vimeo.com/caseydonahue">caseydonahue</a>
        </span>
      </span>
    </span><!-- .vcard -->

    <a href="http://vimeo.com/3718294" rel="bookmark">
      <span class="activity-verb">posted</span>
      a
      <span class="activity-object">video</span>
      <span class="activity-object-title">Auto Tuning</span>
    </a>
    to
    <a href="http://vimeo.com" rel="bookmark">
      <span class="activity-indirect-object">Vimeo</span>
    </a>
  </h3><!-- .entry-title -->
  <abbr class="updated published" title="Wed Dec 02 16:49:27 -0800 2009">8 months ago</abbr>

  <div class="entry-content">
    <%= embed_vimeo_tag(3718294) %>
  </div> <!-- .entry-content -->
</div> <!-- .hentry.activity -->
