<h1>Editing openid_user</h1>

<% form_for(@openid_user) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @openid_user %> |
<%= link_to 'Back', openid_users_path %>