body {
  background: #999;
}

#main {
  margin-top: 3em;
}

.hentry {
  margin-bottom: 2em;
}

h3.entry-title {
  margin: 0;
}

.nickname a:before { content: "("; }
.nickname a:after  { content: ")"; }

.activity-object-title { font-style: italic; }
.activity-object-title:before { content: '"'; }
.activity-object-title:after  { content: '"'; }
