body {
  background: #999;
}

abbr[title] {
  border: 0;
  text-decoration: none;
}

input,
label {
  display: block;
  width: 100%;
  font-size: 1.5em;
}

input {
  padding: .5em;
}

#main {
  margin-top: 3em;
}

.hentry {
  margin-bottom: 2em;
}

.meta {
  text-align: center;
}

.meta img.photo {
  width: 110px;
  height: 110px;
}

a.nickname {
  display: block;
}

h3.entry-title {
  margin: 0;
}

.activity-object-title { font-style: italic; }
.activity-object-title:before { content: '"'; }
.activity-object-title:after  { content: '"'; }
