abbr[title] {
  border: 0;
  text-decoration: none;
}

input,
label {
  display: block;
  width: 100%;
  font-size: 1.5em;
}

input {
  padding: .5em;
}

#main {
  margin-top: 3em;
}


/* [.activity */
.hentry {
  margin-bottom: 2em;
}

.meta,
.meta a {
  text-align: center;
  color: #ccc;
}

.meta img.photo {
  width: 110px;
  height: 110px;
  opacity: .5;
}

.meta img.photo:hover {
  opacity: 1;
}

.meta .published {
  display: block;
}

a.nickname ,
.entry-title .alt,
.entry-title a,
.entry-title {
  margin: 0 0 .5em 0;
  color: #ccc;
}

.entry-title:hover,
.entry-title a:hover,
a.nickname:hover {
  color: #666;
}

.activity-noun {
  color: #666;
}

.activity-object-title { font-style: italic; }
.activity-object-title:before { content: '"'; }
.activity-object-title:after  { content: '"'; }
/* .activity] */
