<div id="manifesto" class="prepend-4 span-16 append-4 last feed">
  <div class="hentry">
    <h3 class="entry-title">A Manifesto of Sorts</h3>
    <ul class="list_of_things">
      <li><mark>Data</mark>, interopabiltiy and portability matter.</li>
      <li>Data first, site second.</li>
      <li>Don’t make something unless it is both necessary and useful; but if it is both necessary and useful, don’t hesitate to make it beautiful.</li>
      <li><mark>People</mark> (not users) can delete their data or identity at anytime.</li>
      <li>Never ask for passwords. Ever.</li>
      <li>Be aggressively minimalistic.</li>
      <li>Less visual noise, fewer choices, no duplicate content.</li>
      <li>Copywriting, typography, URLs and data are <mark>Design.</mark></li>
      <li>Do what is right, not what is popular.</li>
      <li>Razzle fucking dazzle.</li>
    </ul>
  </div> <!-- .hentry -->

  <div class="hentry">
    <h3 class="entry-title">Tech That Matters</h3>
    <ul class="list_of_things">
      <li>Activity Streams</li>
      <li>Atom</li>
      <li>Gravatar</li>
      <li>hAtom</li>
      <li>hCard</li>
      <li>OAuth</li>
      <li>OpenID</li>
      <li>Portable Contacts</li>
      <li>XFN</li>
      <li>Keyboard Shortcuts (j/k paging keys)</li>
      <li>HTML5</li>
      <li>CSS3</li>
    </ul>
  </div> <!-- .hentry -->

  <div class="hentry">
    <h3 class="entry-title">Sites I Like</h3>
    <ul class="list_of_things">
      <li>twitter</li>
      <li>flickr</li>
      <li>facebook</li>
      <li>vimeo</li>
      <li>youtube</li>
      <li>fireeagle</li>
      <li>google latitude</li>
      <li>foursquare</li>
      <li>github</li>
      <li>last.fm</li>
      <li>delicious</li>
      <li>pinboard.in</li>
      <li>tumblr</li>
    </ul>
  </div> <!-- .hentry -->
</div><!-- .feed -->
