<div class="prepend-4 span-16 append-4 last">
  <ul id="list_of_things">
    <li>
      <mark>Data</mark>, interopabiltiy and portability matter.
    </li>
    <li>
      Data first, site second.
    </li>
    <li>
      Don’t make something unless it is both necessary and useful; but if it is both necessary and useful, don’t hesitate to make it beautiful.
    </li>
    <li>
      <mark>People</mark> (not users) can delete their data or identity at anytime.
    </li>
    <li>
      Never ask for passwords. Ever.
    </li>
    <li>
      Be aggressive minimalism.
    </li>
    <li>
      Less visual noise, fewer choices, no duplicate content.
    </li>
    <li>
      Copywriting, typography, URLs and data are <mark>Design.</mark>
    </li>
    <li>
      Do what is right, not what is popular.
    </li>
    <li>
      Razzle fucking dazzle.
    </li>
  </ul>
</div>
