<div class="prepend-4 span-16 append-4 last">
  <h2>Tech That Matters</h2>
  <ul id="list_of_things">
    <li>Activity Streams</li>
    <li>Atom</li>
    <li>Gravatar</li>
    <li>hAtom</li>
    <li>hCard</li>
    <li>OAuth</li>
    <li>OpenID</li>
    <li>Portable Contacts</li>
    <li>XFN</li>
    <li>Keyboard Shortcuts (j/k paging keys)</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>

  <h2>Sites I Like</h2>
  <ul id="list_of_things">
    <li>twitter</li>
    <li>flickr</li>
    <li>facebook</li>
    <li>vimeo</li>
    <li>youtube</li>
    <li>fireeagle</li>
    <li>google latitude</li>
    <li>foursquare</li>
    <li>github</li>
    <li>last.fm</li>
    <li>delicious</li>
    <li>pinboard.in</li>
    <li>tumblr</li>
  </ul>
</div>
