<div class="prepend-4 span-16 append-4 last">
  <h2>Tech That Matters</h2>
  <ul id="list_of_things">
    <li>Activity Streams</li>
    <li>Atom</li>
    <li>Gravatar</li>
    <li>hAtom</li>
    <li>hCard</li>
    <li>OAuth</li>
    <li>OpenID</li>
    <li>Portable Contacts</li>
    <li>XFN</li>
    <li>Keyboard Shortcuts (j/k paging keys)</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>

  <h2 style="text-align: right">Sites I Like</h2>
  <ul id="list_of_things">
    <li>Activity Streams</li>
    <li>Atom</li>
    <li>Gravatar</li>
    <li>hAtom</li>
    <li>hCard</li>
    <li>OAuth</li>
    <li>OpenID</li>
    <li>Portable Contacts</li>
    <li>XFN</li>
    <li>Keyboard Shortcuts (j/k paging keys)</li>
    <li>HTML5</li>
    <li>CSS3</li>
  </ul>
</div>
