<!DOCTYPE html>
<html>
<%= render :partial => '/layouts/head' %>

<body>

  <div id="main" class="container">
    <p style="color: green"><%= flash[:notice] %></p>

    <%= yield %>
  </div>

</body>
</html>
